body{
    background-color:#03284f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  
}

header{
    height:20vh;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-bottom: 40px;
}

.rights{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin:35px;

}

.lang{
width: 100px;
height: 30px;
border: white dotted 1px;

}
.baton{
    width:75px;
    border-radius: 10px;
    transition: background-color 1s;
    height:30px;
    border: none;
    color: white;
    font-size: 16px;
    background-color:#6587f7;
}
.baton:hover{
    background-color: #3257d3;
    cursor: pointer ;
}
.logo{
    height: 20vh;
    width:550px;
    background-image: url(industrypage-removebg-preview.png);
    background-size: cover;
    background-position: center;
    
}

.main-content {
    width: 100%vw;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns:    3fr 3fr 3fr;
    gap: 2rem;
    height: 22rem;
   
    justify-content: center;
    padding-top: 55px;
}

.same{
    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 20px;
    transition: height 1s ease-in-out;
}

.location{
    height: 200px;
    width:400px;
    
    background-image: url(backwaters-of-kerala.webp);
    background-size: cover;
    transition: height 0.5s ease-in-out;
}
.location-2{
    height: 200px;
    width:400px;
   
    background-image: url(srinagar-kashmir.webp);
    background-size: cover;
    transition: height 0.5s ease-in-out;
}
.location-3{
    height: 200px;
    width:400px;
    
    background-image: url(Laxmi_villas_palace_baroda.webp);
    background-size: cover;
    transition: height 0.5s ease-in-out;
}

.details{
    font-size: large;
    font-weight: 500;
    transition: text-decoration 0.5s ease-in-out;
}
.details-2{
    font-size: large;
    font-weight: 500;
    transition: text-decoration 0.5s ease-in-out;
}
.details-3{
    font-size: large;
    font-weight: 500;
    transition: text-decoration 0.5s ease-in-out;
}

.details:hover{
    text-decoration: underline;
}

.location:hover{
    height:300px;
}
.location-2:hover{
    height:300px;
}
.location-3:hover{
    height:300px;
}

footer{
    height: 50px;
    width:100%vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:30px;
    background-color: black;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}
.socials{
 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    width:100vw;
    height:60px;
    display:flex;
    justify-content: left;
    gap: 10px;

    
    
}
.statement{
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;

}


.bhats2{
    background-image: url(facebook-logo-removebg-preview.png);
    background-size: contain;
    height:62px;
    width:100px;
    background-repeat: no-repeat;
}

.bhats1{
    background-image: url(insta.png);
    background-size: contain;
    height:70px;
    width:100px;
    background-repeat: no-repeat;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}